.search-page{
    padding: 2rem;
    display: flex;
    
    
}
.search-page-details{
    display: flex;
    margin-top: 4em;
    
}
.search-page-logo{
    width: 10em;
    height: 10em;
    margin-right: 5em;
}
.search-details-container>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    margin-bottom: 2em;
}
.not-found-section{
    text-align: center;
    width: 80%;
}
   
.search-page-button{
    background-color: #34aadc;
    padding: .8em;
    border: none;
    border-radius: 4px;
    width: 20%;
    margin-top: 3em;
}
.search-name-header{
    border-bottom: 1px dotted #e6e8ed;
}