.bank-input-container{
     display: flex;
}
.bank-label{
    flex-basis: 20%;
    color: #393939;
    font-weight: 500;
}
.bank-input{
    flex-basis: 30%;
    margin-bottom: 1rem;
     height: 2.5rem;
}
.bank-btn{ 
    background-color: #3278b3;
    width: 8rem;
    border: none;
    padding: .2rem;
    border-radius: .2rem ;
    color: #fff;
}