.sidebar-container{
 height: 90vh;
 background-color: var(--sidebar-bg-clr);
}
.sidebar-nav{
    border-right:1px solid #e5e5e5 ; 
}
.sidebar-nav>ul{
    list-style: none;
}
.sidebar-nav-list{
    overflow: hidden;
    padding: .7rem ;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
    font-size: .9rem;
    border-left: 4px solid transparent;
    background-color:var(--sidebar-bg-clr);
    &:hover{
        background-color: var(--bg-clr);
        border-left: 4px solid #50a2d9;
    }
    
}
.sidebar-active-tab{
    background-color:var(--bg-clr);
    border-left: 4px solid #50a2d9;
}

.sidebar-nav-icon{
    color: #888c9b;
    margin-right: .5rem;
}
.sidebar-nav-link{
    color: var(--nav-text-clr);
    text-decoration: none;
}


